* {
  box-sizing: border-box;
}

body {
  margin: auto;
  display: block;
}

// MIXIN & ROOT
$firstColor: azure;
$secondColor: black;

$firstFont: Striker;
$secondFont: Emizen;
$thirdFont: ClassicRobot;

@mixin flex ($flexDirection) {
  display: flex;
  flex-direction: $flexDirection;
}

@font-face {
  font-family: $firstFont;
  src: url('/assets/font/Striker.otf');
}

@font-face {
  font-family: $secondFont;
  src: url('/assets/font/Emizen.otf');
}

@font-face {
  font-family: $thirdFont;
  src: url('/assets/font/Classic\ Robot\ Condensed\ Italic.otf');
}

#carousel {
  #carouselGaming {
    .carousel-inner {
      .carousel-item {
        .containGaming {
          height: 900px;
          margin-bottom: -100px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          .navbar {
            #btnBar {
              position: relative;
              left: 98%;
              top: 0%;
              border: none;
              font-size: 1.7em;
              color: $firstColor;
              background: transparent;
              transition: all 0.25ms ease;
              text-shadow: 0 0 5px #980000, 0 0 10px #000000, 0 0 15px #000000, 0 0 55px #ffffff, 2px 2px 2px rgba(0,0,0,0.02);
              &:hover {
                transform: rotate(90deg);
              }
            }
          }
          .moreInfo {
            top: 50%;
            left: 20%;
            display: flex;
            position: relative;
            flex-direction: column;
            .img-fluid {
              top: 50%;
              left: 5%;
              height: 150px;
              max-width: 400px;
              position: relative;
              transform: translate(-50%, -10%);
            }
            .infoPrice {
              column-gap: 20px;
              .promo {
                height: 35px;
                padding: 0px 5px 2px 5px;
                font-size: 1.3em;
                color: $firstColor;
                border-radius: 10px;
                font-family: $secondFont;
                background-color: rgb(158, 65, 7);
                border: 1px solid $firstColor;
                text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(255, 255, 255, 0.15);
              }
              .priceInfo {
                height: 35px;
                width: 118px;
                column-gap: 4px;
                border-radius: 10px;
                padding-left: 5px;
                background-color: darkgreen;
                border: 1px solid $firstColor;
                .price {
                  margin-left: 5px;
                  font-size: 1.3em;
                  color: $firstColor;
                  font-family: $secondFont;
                  text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(0, 0, 0, 0.15);
                }
                #btnAdd {
                  width: 30px;
                  height: 30px;
                  padding: 2px;
                  border: none;
                  font-size: 1.2em;
                  color: $firstColor;
                  background: transparent;
                  transition: all 0.25ms ease;
                  text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(0, 0, 0, 0.15);
                  &:hover {
                    transform: scale(1.2);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .containSearch {
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/pict/search.jpeg');
    .d-flex {
      top: 50%;
      left: 50%;
      max-width: 40%;
      padding-top: 7px;
      position: relative;
      font-family: $firstFont;
      transform: translate(-50%, -50%);
    }
    .showSearch {
      .alert {
        width: 40%;
        margin: auto;
        display: block;
      }
      .results {
        margin-top: 10px;
        color: $firstColor;
        text-align: center;
        padding-top: 7px;
        font-family: $firstFont;
        text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(255, 255, 255, 0.15);
      }
      .listResults {
        .resultSearch {
          height: 420px;
          margin: -20px auto;
          .col-lg-3 {
            margin: auto;
            display: block;
            .row {
              .col-lg-12 {
                .img-fluid {
                  display: block;
                  height: 330px;
                  margin: 20px auto;
                  max-width: 350px;
                  border-radius: 10px;
                }
                .info {
                  justify-content: center;
                  column-gap: 20px;
                  @include flex (row);
                  margin: -12px auto;
                  .promo {
                    height: 35px;
                    padding: 0px 5px 2px 5px;
                    font-size: 1.3em;
                    color: $firstColor;
                    border-radius: 10px;
                    font-family: $secondFont;
                    background-color: rgb(158, 65, 7);
                    border: 1px solid $firstColor;
                    text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(255, 255, 255, 0.15);
                  }
                  .priceReduce {
                    @include flex (row);
                    height: 35px;
                    width: 108px;
                    column-gap: 4px;
                    border-radius: 10px;
                    padding: 10px 5px -10px 3px;
                    background-color: darkgreen;
                    border: 1px solid $firstColor;
                    .price {
                      margin-left: 8px;
                      font-size: 1.3em;
                      color: $firstColor;
                      font-family: $secondFont;
                      text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(0, 0, 0, 0.15);
                    }
                    #btnCart {
                      width: 30px;
                      height: 30px;
                      border: none;
                      font-size: 1.2em;
                      color: $firstColor;
                      background: transparent;
                      transition: all 0.25ms ease;
                      text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(0, 0, 0, 0.15);
                      &:hover {
                        transform: scale(1.2);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #release {
    background-color: rgb(50, 50, 50);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .listBestMoments {
      height: 350px;
      .list {
        width: 100%;
        margin: auto;
        column-gap: 120px;
        justify-content: center;
        padding-top: 10px;
        .best, .next {
            cursor: pointer;
            font-size: 1.5em;
            color: $firstColor;
            font-family: $firstFont;
            text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(255, 255, 255, 0.15);
            &:hover {
              color: $secondColor;
              text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(255, 255, 255, 0.15);
            }
        }
      }
      .containMoments {
        .showGames {
          .games {
            width: 100%;
            margin: auto;
            max-width: 950px;
            .col-lg-4 {
              .img-fluid {
                height: 300px;
                border-radius: 15px;
              }
            }
          }
        }
      }
    }
    footer {
      padding-top: 36px;
      padding-bottom: 15px;
      .copy {
        font-size: 1.7em;
        color: $firstColor;
        font-family: $secondFont;
        text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(255, 255, 255, 0.15);
      }
    }
  }
  #showCanvas {
    height: 230px;
    max-width: 340px;
    background-color: $secondColor;
    border-radius: 0px 0px 0px 10px;
    border: 2px solid $firstColor;
    #btnCloseCanvas {
      top: 0%;
      right: 0%;
      font-size: 1.9em;
      position: absolute;
      color: $firstColor;
      border: transparent;
      background: transparent;
      transition: all 0.25ms ease;
      text-shadow: 0 0 5px #980000, 0 0 10px #000000, 0 0 15px #000000, 0 0 55px #ffffff, 2px 2px 2px rgba(0,0,0,0.02);
      &:hover {
        transform: scale(1.2);
      }
    }
    .offcanvas-header {
      .offcanvas-title {
        top: 75%;
        left: 50%;
        position: relative;
        font-size: 2.0em;
        color: $firstColor;
        font-family: $thirdFont;
        transform: translate(-50%, -50%);
        text-shadow: 0 0 5px #980000, 0 0 10px #000000, 0 0 15px #000000, 0 0 55px #ffffff, 2px 2px 2px rgba(0,0,0,0.02);
      }
    }
    .offcanvas-body {
      .containNav {
        line-height: 40px;
        margin-top: -20px;
        text-align: center;
        list-style-type: none;
        .nav-item {
          color: $firstColor;
          font-family: $firstFont;
          .nav-link {
            color: $firstColor;
            letter-spacing: 1px;
            font-size: 1.0em;
            cursor: pointer;
            transition: all 0.25ms ease;
            text-shadow: 0 0 5px #980000, 0 0 10px #000000, 0 0 15px #000000, 0 0 55px #ffffff, 2px 2px 2px rgba(0,0,0,0.02);
            &:hover {
              transform: scale(1.1);
            }
          }
          .dropdown-menu {
            border-radius: 5px;
            background: $firstColor;
            border: 1px solid $firstColor;
            .dropdown-item {
              font-size: 1.0em;
              color: $firstColor;
              text-shadow: 0 0 5px #980000, 0 0 10px #000000, 0 0 15px #000000, 0 0 55px #ffffff, 2px 2px 2px rgba(0,0,0,0.02);
              &:hover {
                transform: scale(1.1);
                background: transparent;
              }
            }
          }
        }
      }
      #btnConnect {
        margin: 5px auto;
        display: block;
        letter-spacing: 1px;
        font-size: 1.0em;
        border-radius: 5px;
        color: $firstColor;
        font-family: $firstFont;
        background: transparent;
        border: 2px solid $firstColor;
        text-shadow: 0 0 5px #980000, 0 0 10px #000000, 0 0 15px #000000, 0 0 55px #ffffff, 2px 2px 2px rgba(0,0,0,0.02);
        &:hover {
          transform: scale(1.1);
          -webkit-box-shadow: 1px 1px 8px 6px #ffffff;
          box-shadow: 1px 1px 8px 6px #ffffff;
        }
      }
    }
  }
  #showConnect {
    #btnCloseConnect {
      font-size: 1.9em;
      color: $firstColor;
      border: transparent;
      background: transparent;
      transition: all 0.25ms ease;
      text-shadow: 0 0 5px #980000, 0 0 10px #000000, 0 0 15px #000000, 0 0 55px #ffffff, 2px 2px 2px rgba(0,0,0,0.02);
      &:hover {
        transform: scale(1.2);
      }
    }
    .modal-dialog {
      .modal-content {
        background-image: url('/assets/pict/SteamBackground.png');
        .modal-body {
          .modal-title {
            font-size: 1.6em;
            color: $firstColor;
            text-align: center;
            margin-bottom: 20px;
            font-family: $firstFont;
            text-shadow: 0 0 5px #980000, 0 0 10px #000000, 0 0 15px #000000, 0 0 55px #ffffff, 2px 2px 2px rgba(0,0,0,0.02);
          }
          form {
            #formConnect {
              margin-top: -10px;
              column-gap: 10px;
              .inputFirst, .inputSecond {
                @include flex (column);
                input {
                  font-family: $secondFont;
                }
                .alert {
                  height: 40px;
                  p {
                    margin-top: -10px;
                  }
                }
              }
            }
            #listBtnConnect {
              margin-top: 10px;
            }
          }
          #alertSuccess, #alertError {
            height: 40px;
            p {
              margin-top: -10px;
            }
          }
        }
      }
    }
  }
  #showSignUp {
    #btnCloseSignUp{
      font-size: 1.9em;
      color: $firstColor;
      border: transparent;
      background: transparent;
      transition: all 0.25ms ease;
      text-shadow: 0 0 5px #980000, 0 0 10px #000000, 0 0 15px #000000, 0 0 55px #ffffff, 2px 2px 2px rgba(0,0,0,0.02);
      &:hover {
        transform: scale(1.2);
      }
    }
    .modal-dialog {
      margin: -10px auto;
      .modal-content {
        background-image: url('/assets/pict/SteamBackground.png');
        .modal-body {
          margin-top: 0px;
          .modal-title {
            font-size: 1.6em;
            color: $firstColor;
            text-align: center;
            margin-bottom: 20px;
            font-family: $firstFont;
            text-shadow: 0 0 5px #980000, 0 0 10px #000000, 0 0 15px #000000, 0 0 55px #ffffff, 2px 2px 2px rgba(0,0,0,0.02);
          }
          form {
            #formSignUp {
              margin-top: -10px;
              column-gap: 10px;
              display: block;
              @include flex (column);
              .listInputFirst {
                column-gap: 10px;
                justify-content: center;
                @include flex (row);
                .inputFirst, .inputSecond {
                  @include flex (column);
                  input {
                    font-family: $secondFont;
                  }
                  .alert {
                    height: 40px;
                    p {
                      margin-top: -10px;
                    }
                  }
                }
              }
              .listInputSecond {
                column-gap: 10px;
                margin-top: 10px;
                justify-content: center;
                @include flex (row);
                .inputThird, .inputFour {
                  @include flex (column);
                  input {
                    font-family: $secondFont;
                  }
                  #phoneAlert {
                    height: 60px;
                    p {
                      margin-top: -10px;
                    }
                  }
                  #passAlert {
                    height: 40px;
                    p {
                      margin-top: -10px;
                    }
                  }
                }
              }
            }
            #listBtnSignUp {
              margin-top: 10px;
            }
          }
          #alertSuccess, #alertError {
            height: 40px;
            p {
              margin-top: -10px;
            }
          }
        }
      }
    }
  }
}

// MEDIA QUERRY
@media screen and (max-width: 1440px) {
  #carousel {
    #carouselGaming {
      .carousel-inner {
        .carousel-item {
          .containGaming {
            .navbar {
              #btnBar {
                left: 97%;
              }
            }
            .moreInfo {
              .infoPrice {
                top: 50%;
                left: 48%;
                position: relative;
                transform: translate(-50%, 0%);
              }
            }
          }
        }
      }
    }
    .containSearch {
      .showSearch {
        .listResults {
          .resultSearch {
            .col-lg-3 {
              .row {
                .col-lg-12 {
                  .img-fluid {
                    max-width: 300px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #carousel {
    #carouselGaming {
      .carousel-inner {
        .carousel-item {
          .containGaming {
            .navbar {
              #btnBar {
                left: 96%;
              }
            }
            .moreInfo {
              top: 54%;
              left: 45%;
              .infoPrice {
                top: 50%;
                left: 48%;
                position: relative;
                transform: translate(-53%, 0%);
              }
            }
          }
        }
      }
      .carousel-indicators {
        margin-right: 170px
      }
    }
    .containSearch {
      .showSearch {
        .results {
          font-size: 1.4em
        }
        .listResults {
          .resultSearch {
            .col-lg-3 {
              .row {
                .col-lg-12 {
                  .info {
                    max-width: 330px
                  }
                }
              }
            }
          }
        }
      }
    }
    #release {
      .listBestMoments {
        .containMoments {
          .showGames {
            .games {
              margin-right: 14%;
              max-width: 750px;
            }
          }
        }
      }
      footer {
        padding-top: 86px;
        padding-right: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #carousel {
    #carouselGaming {
      .carousel-inner {
        .carousel-item {
          .containGaming {
           .navbar {
              #btnBar {
                left: 95%;
              }
            }
            .moreInfo {
              left: 50%;
              .img-fluid {
                left: 2%;
              }
              .infoPrice {
                top: 50%;
                left: 39%;
                position: relative;
                transform: translate(-50%, -10%);
              }
            }
          }
        }
      }
      .carousel-indicators {
        margin-right: 100px;
        padding-bottom: 5px;
      }
    }
    .containSearch {
      .showSearch {
        .results {
          font-size: 1.3em
        }
        .listResults {
          .resultSearch {
            height: 430px;
            overflow: auto;
            margin: -10px auto;
            .col-lg-3 {
              .row {
                .col-lg-12 {
                  .img-fluid {
                    height: 350px;
                  }
                }
              }
            }
          }
        }
      }
    }
    #release {
      .listBestMoments {
        .list {
          column-gap: 70px;
          text-align: center;
          .best, .next {
            font-size: 1.3em;
          }
        }
        .containMoments {
          .showGames {
            .games {
              height: 375px;
              overflow: auto;
              max-width: 400px;
              margin-right: 170px;
              .col-lg-4 {
                .img-fluid {
                  height: 370px;
                  margin: 10px 0px 10px 0px ;
                }
              }
            }
          }
        }
      }
      footer {
        padding-top: 106px;
        padding-right: 0px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  #carousel {
    #carouselGaming {
      .carousel-inner {
        .carousel-item {
          .containGaming {
            .navbar {
              #btnBar {
                left: 91%;
              }
            }
            .moreInfo {
              top: 56%;
              left: 48%;
              .img-fluid {
                height: 140px;
              }
              .infoPrice {
                left: 29%;
              }
            }
          }
        }
      }
      .carousel-indicators {
        margin-right: 70px;
        padding-bottom: -5px;
      }
    }
    .containSearch {
      .d-flex {
        max-width: 70%;
      }
      .results {
        font-size: 1.4em;
      }
      .showSearch {
        .alert {
          width: 70%;
        }
        .listResults {
          .resultSearch {
            height: 400px;
            margin: -10px auto;
            .col-lg-3 {
              .row {
                .col-lg-12 {
                  .img-fluid {
                    height: 320px;
                  }
                }
              }
            }
          }
        }
      }
    }
    #release {
      .listBestMoments {
        .list {
          column-gap: 20px;
        }
        .containMoments {
          .showGames {
            .games {
              height: 360px;
              margin-right: 140px;
              .col-lg-4 {
                .img-fluid {
                  height: 350px;
                  margin: 10px auto;
                  display: block;
                  padding-left: 10px;
                  max-width: 310px;
                }
              }
            }
          }
        }
      }
      footer {
        margin-top: 10px;
      }
    }
  }
  #showConnect {
    .modal-dialog {
      .modal-content {
        .modal-body {
          form {
            #formConnect {
              .inputFirst, .inputSecond {
                .alert {
                  p {
                    font-size: 0.8em;
                    text-align: center;
                  }
                }
              }
            }
          }
          .alert-danger, .alert-success  {
            p {
              font-size: 0.8em;
              text-align: center;
              margin-top: -12px;
            }
          }
        }
      }
    }
  }
  #showSignUp {
    .modal-dialog {
      .modal-content {
        .modal-body {
          form {
            #formSignUp {
              .listInputFirst {
                .inputFirst, .inputSecond {
                  .alert {
                    p {
                      font-size: 0.8em;
                      text-align: center;
                      margin-top: -13px;
                    }
                  }
                }
              }
              .listInputSecond {
                .inputThird, .inputFour {
                  .alert {
                    p {
                      font-size: 0.8em;
                      text-align: center;
                      margin-top: -13px;
                    }
                  }
                }
              }
            }
          }
          .alert-danger, .alert-success  {
            p {
              text-align: center;
              margin-top: -12px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  #carousel {
    #carouselGaming {
      .carousel-inner {
        .carousel-item {
          .containGaming {
            .navbar {
              #btnBar {
                left: 89%;
              }
            }
            .moreInfo {
              top: 55%;
              left: 48%;
              .img-fluid {
                height: 140px;
                max-width: 300px;
              }
              .infoPrice {
                left: 27%;
              }
            }
          }
        }
      }
      .carousel-indicators {
        margin-right: 70px;
        padding-bottom: -5px;
      }
    }
    .containSearch {
      .showSearch {
        .listResults {
          .resultSearch {
            height: 370px;
            .col-lg-3 {
              .row {
                .col-lg-12 {
                  .img-fluid {
                    height: 302px;
                  }
                }
              }
            }
          }
        }
      }
    }
    #release {
      .listBestMoments {
        height: 350px;
        .list {
          column-gap: 20px;
          .best, .next {
            font-size: 1.1em;
          }
        }
        .containMoments {
          .showGames {
            .games {
              height: 375px;
              margin: -10px auto;
              margin-right: 0px;
              max-width: 600px;
              .col-lg-4 {
                .img-fluid {
                  margin: 15px auto;
                  display: block;
                  height: 360px;
                  max-width: 240px;
                }
              }
            }
          }
        }
      }
    }
  }
  #showSearch {
    width: 230px;
    .offcanvas-header {
      #btnClose {
        left: 147%;
      }
    }
    .offcanvas-body {
      .d-flex {
        max-width: 95%;
      }
    }
  }
  #showConnect {
    .modal-dialog {
      .modal-content {
        .modal-body {
          form {
            #formConnect {
              .inputFirst, .inputSecond {
                .alert {
                  p {
                    font-size: 0.7em;
                    text-align: center;
                    margin-top: -15px;
                  }
                }
              }
            }
          }
          .alert-danger, .alert-success  {
            p {
              font-size: 0.7em;
              text-align: center;
            }
          }
        }
      }
    }
  }
  #showSignUp {
    .modal-dialog {
      .modal-content {
        .modal-body {
          form {
            #formSignUp {
              .listInputFirst {
                .inputFirst, .inputSecond {
                  .alert {
                    p {
                      font-size: 0.7em;
                      text-align: center;
                      margin-top: -13px;
                    }
                  }
                }
              }
              .listInputSecond {
                .inputThird, .inputFour {
                  .alert {
                    p {
                      font-size: 0.7em;
                      text-align: center;
                      margin-top: -13px;
                    }
                  }
                }
              }
            }
          }
          .alert-danger, .alert-success  {
            p {
              font-size: 0.7em;
              text-align: center;
              margin-top: -12px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #carousel {
    #carouselGaming {
      .carousel-inner {
        .carousel-item {
          .containGaming {
            .navbar {
              width: 93%;
              .container-fluid {
                .navbar-brand {
                  margin-left: 5px;
                  margin-top: 5px;
                  font-size: 2.1em;
                  display: block;
                  margin: auto;
                }
              }
            }
            .moreInfo {
              top: 58%;
              left: 48%;
              .img-fluid {
                height: 120px;
                max-width: 280px;
              }
              .infoPrice {
                left: 22%;
                margin-top: 5px;
              }
            }
          }
        }
      }
      .carousel-indicators {
        margin-right: 65px;
        padding-bottom: -5px;
      }
    }
    .containSearch {
      .d-flex {
        max-width: 80%;
      }
      .showSearch {
        .alert {
          width: 80%;
        }
        .listResults {
          .resultSearch {
            height: 380px;
          }
        }
      }
    }
    #release {
      .listBestMoments {
        height: 350px;
        .list {
          .col-lg-6 {
            .best {
              width: 290px;
              font-size: 1.4em;
            }
            .next {
              width: 290px;
              font-size: 1.4em;
              margin-left: 0px;
            }
          }
        }
        .containMoments {
          .showGames {
            .games {
              height: 390px;
              margin: -10px auto;
              margin-right: 10px;
              max-width: 600px;
              .col-lg-4 {
                .img-fluid {
                  height: 370px;
                  max-width: 270px;
                }
              }
            }
          }
        }
      }
      footer {
        margin: 10px auto;
        font-size: 0.9em;
        padding-bottom: 5px;
      }
    }
  }
  #showSearch {
    width: 363px;
    border-radius: 0px;
    .offcanvas-header {
      #btnClose {
        left: 152%;
      }
    }
    .offcanvas-body {
      .d-flex {
        max-width: 100%;
      }
    }
  }
}

